.item-container {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
}

.item {
    &__1 {
        top: 25%;
        left: 10%;
    }
    &__2 {
        top: 50%;
        left: 5%;
    }
    &__3 {
        top: 75%;
        left: 10%;
    }
    &__4 {
        top: 25%;
        right: 10%;
    }
    &__5 {
        top: 50%;
        right: 5%;
    }
    &__6 {
        top: 75%;
        right: 10%;
    }
}

.input-color {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
    background-color: transparent;
}

.input-color::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(90% - 15px);
    height: calc(90% - 15px);
    transform: translateX(-50%) translateY(-50%);
    border: 15px solid #FFF;
    border-radius: 100%;
}

.input-breakpoint {
    display: block;
    width: 50px;
    height: 25px;
    background-color: transparent;
    border: 1px rgba(0, 0, 0, .2) solid;
    border-radius: 10px;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    padding: 0 10px;
}

@media screen and (max-width: 1200px) {
    .item {
        &__1 {
            top: 25%;
            right: 20%;
            left: auto;
        }
        &__2 {
            top: 50%;
            right: 20%;
            left: auto;
        }
        &__3 {
            top: 75%;
            right: 20%;
            left: auto;
        }
        &__4 {
            top: 25%;
            right: 5%;
            left: auto;
        }
        &__5 {
            top: 50%;
            right: 5%;
            left: auto;
        }
        &__6 {
            top: 75%;
            right: 5%;
        }
    }
}

@media screen and (max-width: 1000px) {
    .item {
        &__1 {
            top: 100%;
            left: 20%;
            right: auto;
        }
        &__2 {
            top: 110%;
            left: 20%;
            right: auto;
        }
        &__3 {
            top: 120%;
            left: 20%;
            right: auto;
        }
        &__4 {
            top: 100%;
            right: 20%;
            left: auto;
        }
        &__5 {
            top: 110%;
            right: 20%;
            left: auto;
        }
        &__6 {
            top: 120%;
            right: 20%;
        }
    }
}

@media screen and (max-width: 500px) {
    .item {
        &__1 {
            bottom: 30%;
            top: auto;
            left: 10%;
            right: auto;
        }
        &__2 {
            bottom: 20%;
            top: auto;
            left: 10%;
            right: auto;
        }
        &__3 {
            bottom: 10%;
            top: auto;
            left: 10%;
            right: auto;
        }
        &__4 {
            bottom: 30%;
            top: auto;
            right: 10%;
            left: auto;
        }
        &__5 {
            bottom: 20%;
            top: auto;
            right: 10%;
            left: auto;
        }
        &__6 {
            bottom: 10%;
            top: auto;
            right: 10%;
        }
    }
}