* {
    box-sizing: border-box;
}

.app-container {
    position: relative;
    height: 100%;
    min-height: 100vh;
    max-width: 1400px;
    margin: auto;
}

body {
    font-size: 16px;
}

.adder-container {
    height: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all ease-out .2s;

    span {
        display: block;
        font-family: 'Poppins', sans-serif;
        font-size: 1em;
        text-transform: uppercase;
        font-weight: bold;
        width: 100px;
    }
}

.adder {
    &__1 {
        top: 25%;
        left: calc(10% + 15px);
    }
    &__2 {
        top: 50%;
        left: calc(5% + 15px);
    }
    &__3 {
        top: 75%;
        left: calc(10% + 15px);
    }
    &__4 {
        top: 25%;
        right: calc(10% - 40px);
    }
    &__5 {
        top: 50%;
        right: calc(5% - 40px);
    }
    &__6 {
        top: 75%;
        right: calc(10% - 40px);
    }
}

.btn-adder {
    width: 30px;
    height: 30px;
    border: 2px solid #000;
    border-radius: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}


@media screen and (max-width: 1200px) {
    .adder {
        &__1 {
            top: 25%;
            right: calc(20% - 40px);
            left: auto;
        }
        &__2 {
            top: 50%;
            right: calc(20% - 40px);
            left: auto;
        }
        &__3 {
            top: 75%;
            right: calc(20% - 40px);
            left: auto;
        }
        &__4 {
            top: 25%;
            right: calc(5% - 40px);
            left: auto;
        }
        &__5 {
            top: 50%;
            right: calc(5% - 40px);
            left: auto;
        }
        &__6 {
            top: 75%;
            right: calc(5% - 40px);
        }
    }
}

@media screen and (max-width: 1000px) {
    .adder {
        &__1 {
            top: 100%;
            left: calc(20% + 15px);
            right: auto;
        }
        &__2 {
            top: 110%;
            left: calc(20% + 15px);
            right: auto;
        }
        &__3 {
            top: 120%;
            left: calc(20% + 15px);
            right: auto;
        }
        &__4 {
            top: 100%;
            right: calc(20% - 40px);
            left: auto;
        }
        &__5 {
            top: 110%;
            right: calc(20% - 40px);
            left: auto;
        }
        &__6 {
            top: 120%;
            right: calc(20% - 40px);
        }
    }
}

@media screen and (max-width: 500px) {
    .adder {
        &__1 {
            bottom: 30%;
            top: auto;
            left: calc(10% + 15px);
            right: auto;
        }
        &__2 {
            bottom: 20%;
            top: auto;
            left: calc(10% + 15px);
            right: auto;
        }
        &__3 {
            bottom: 10%;
            top: auto;
            left: calc(10% + 15px);
            right: auto;
        }
        &__4 {
            bottom: 30%;
            top: auto;
            right: calc(10% - 40px);
            left: auto;
        }
        &__5 {
            bottom: 20%;
            top: auto;
            right: calc(10% - 40px);
            left: auto;
        }
        &__6 {
            bottom: 10%;
            top: auto;
            right: calc(10% - 40px);
        }
    }
}